@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');
body {
        font-family: Bricolage Grotesque, 'Courier New', Courier, monospace, sans-serif;
        background-color: rgb(255, 255, 255);
        padding: 0;
        margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

subtitle {
    font-size: 2.5rem;
    font-weight: lighter;
}

h3 {
    font-size: 1.4rem;
    font-weight: lighter;
}

a {
    color: #470900;
}

.nav-button-secondary,
.nav-button-primary {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 18px;
    border: 0rem solid #470900;
    font-weight: bold;
    font-family: Bricolage Grotesque, 'Courier New', Courier, monospace, sans-serif;
    transition: all 0.3s ease;


    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    
}

.nav-button-primary {
    background-color: #470900;
    color: white;
    float: left;
    margin-right: 0.6rem;  
}

.nav-button-secondary {
    background-color: #F1F1F1;
    color: #470900;

    padding: 0.73rem 1.7rem;
    border: 0.3rem solid #470900;
    float: right;
}

.nav-button-primary:hover {
    cursor: pointer;
    background-color: #380800;
    box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.3);
}
.nav-button-secondary:hover {
    cursor: pointer;
    background-color: #470900;
    color: white;
    box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.3);
}

.nav-bar {
    top: 1rem;
    left: 10%;
    right: 10%;
    padding: 0.9rem;
    border-radius: 20px;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.01cm;
    color: #FFFFFF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);

    z-index: 10;
}

header {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    padding-top: 32vh;
    color: white;

    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    
}

#footerlogo {
    height: 60%;
    width: 60%;
}

footer {
    background-color: #D9D9D9;
    padding: 5% 15% 1% 15%;

}

.footerdiv {
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    a, p {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        color: rgb(0, 0, 0);
    }

    h3 {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

}

@media screen and (max-width: 800px) {
    .footerdiv{
        flex-direction: column;
        align-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: space-between;
        gap: 20px;
    }  

    #footerlogo {
        height: 30%;
        width: 0%;
        
        cursor: pointer;
    }

    .Copyright {
        padding-top: 20%;
        font-size: 0.75em;
    }
}
 
.footeraside {
    gap: 10px;
    display: flex;
    flex: 0 0 25%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    color: rgb(0, 0, 0);

    color: rgb(0, 0, 0);
}

.Copyright {
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
    padding-top: 4%;
    color: rgb(0, 0, 0);

    p {
        font-size: 0.75em;
    }
    
}

.popup {
    display: none; /* standaard onzichtbaar */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Alleen zichtbaar en gecentreerd als actief */
.popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inhoud van de popup */
.popup-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 50%;
    max-width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

/* Sluitknop rechtsboven */
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
}

/* CSS */
.navbar {
    position: relative;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
}

/* Off-canvas menu */
.side-menu {
    position: fixed;
    top: 0px;
    left: -290px; /* buiten het scherm */
    width: 250px;
    height: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: left 0.3s ease;
    z-index: 50;
}

.side-menu a {
    color: #470900;
    text-decoration: none;
    padding: 10px 20px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Top en bottom scheiden */
    height: 100%; /* Zorg dat de sidebar de volledige hoogte heeft */
    padding: 20px;
}

.menu-top {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Ruimte tussen de buttons */
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraal uitlijnen */
    gap: 10px; /* Ruimte tussen afbeelding en knop */
    margin-bottom: 40px;
}


.side-menu.active {
    left: 0;
}

@media screen and (max-width: 1200px) {
    #PC {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #sideMenu,
    #Phone {
        display: none;
    }
}